/*reset css  */
/* 所有元素以及伪类元素 */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	/* 因为移动web需要适应不用设备，用的都是非固定像素，所以盒子模型需要使用border-box, 如果使用content-box
	那么会很难计算元素的宽度究竟是多少(计算元素宽度是content-box的通病) */
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	/* 清除移动端链接或者JavaScript可点击元素点击的时候高亮的效果。该属性只用webkit内核的浏览器才有。Only Webkit */
	tap-highlight-color: transparent;
}

body{
	font-size: 14px;
	font-family: "Microsoft YaHei",sans-serif;
	color: #333;
}

/* 为什么需要清除浮动？因为父元素无法获取到子元素需要的高度，所以通过清除浮动便可以让父元素自动获取子元素的高度。各种清除
浮动的方法优缺点对比：https://www.cnblogs.com/nxl0908/p/7245460.html */
.clearfix::after{
	content: "";
	/* 注意：别漏了转成块级元素。原理与在浮动的最后一个元素后面加上一个div(块级元素，有高度)然后清除浮动一样 */
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
	clear: both;
}

.clearfix{
	/* IE清除浮动 */
	zoom: 1;
}

ul,ol{
	list-style: none;
}

a{
	text-decoration: none;
	color: #333;
}

input,txtarea {
	resize: none;
	border: none;
	outline: none;
	/* 大多数移动端都是webkit内核浏览器。去掉默认的元素外观设置 */
	-webkit-appearance: none;
}

/* common css */